### 1.Let us say your expense for every month are listed below,

January - 2200

February - 2350

March - 2600

April - 2130

May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [1]:
expenses = [2200,2350,2600,2130,2190]

### 1. In Feb, how many dollars you spent extra compare to January?

In [3]:
Extra = expenses[1] - expenses[0]

In [6]:
print(Extra, "is spent extra than january")

150 is spent extra than january

### 2. Find out your total expense in first quarter (first three months) of the year.

In [7]:
total_quat = sum(expenses[:2])

In [8]:
print("The first three months total expense is:",total_quat)

The first three months total expense is: 4550

### 3. Find out if you spent exactly 2000 dollars in any month

In [10]:
if 2000 in expenses:
    print("Yes, I have spent")
else:
    print("No, I haven't")

No, I haven't

### 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [11]:
expenses.append(1980)

In [12]:
expenses

[2200, 2350, 2600, 2130, 2190, 1980]

### 5. You returned an item that you bought in a month of April and got a refund of 200. Make a correction to your monthly expense list based on this

In [13]:
expenses[3] -= 200

In [14]:
expenses

[2200, 2350, 2600, 1930, 2190, 1980]

### 2.You have a list of your favourite marvel super heros.

heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [30]:
heros=['spider man','thor','hulk','iron man','captain america']

### 1. Length of the list

In [31]:
Heros_count = len(heros)

In [32]:
print(Heros_count, "Heros are there")

5 Heros are there

### 2. Add 'black panther' at the end of this list

In [33]:
heros.append("black panther")

In [34]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

### 3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'

In [35]:
heros.remove('black panther')

In [36]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [37]:
place = heros.index('hulk')

In [38]:
heros.insert(place+1,'black panther')

In [39]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

### 4. Now you don't like thor and hulk because they get angry easily :) So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.

In [42]:
heros[1:3] = ['doctor stange']

In [43]:
heros

['spider man', 'doctor stange', 'black panther', 'iron man', 'captain america']

### 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [44]:
heros.sort()

In [45]:
heros

['black panther', 'captain america', 'doctor stange', 'iron man', 'spider man']

### 3.Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [50]:
def createlist():
    n = input("Enter the max number:")
    output = []
    for i in range(int(n)+1):
        if i % 2 != 0:
            output.append(i)
            
    return output

In [51]:
createlist()

Enter the max number:20

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]